<%= link_to "New Message", new_event_path, class: "btn btn-default pull-xs-right"%>
<h1>Messages</h1>

<%= link_to "Sent Messages",send_messages_events_path(user_id: current_user.id), class: "btn btn-default", style: "margin-bottom:15px;"%>

<%= link_to "Receive Messages",receive_messages_events_path(user_id: current_user.id), class: "btn btn-default"%>
<table style="width:100%;">
	<tr>
		<th>Time</th>
		<th>From</th>
		<th>To</th>
		<th>Subject</th>
		<th>Message</th>
	</tr>
	<div id="events_<%= current_user.id %>">
	  <%= render @events %>
	</div>
</table>