<%= link_to "New Message", new_event_path, class: "btn btn-default pull-xs-right"%>
<h1>Recieve Messages</h1>

<div class="event">
	<table style="width:100%;">
		<tr>
			<th>Time</th>
			<th>From</th>
			<th>To</th>
			<th>Subject</th>
			<th>Message</th>
		</tr>
		<% @events.each do |event|%>
			<tr class="#{event.read? ? 'read' : 'unread'}" data-link="<%= event_path(event) %>">
				<td><%= event.created_at.getlocal.to_formatted_s(:short) %></td>
				<td><%= event.sender.email %></td>
				<td><%= event.receiver.email %></td>
				<td><%= event.subject %></td>
				<td><%= event.message %></td>
			</tr>
		<%end%>
	</table>
</div>