<p>
  <strong>Sender:</strong>
  <%= @event.sender.email %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @event.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @event.message %>
</p>

<%= form_tag reply_message_event_path(@event), method: :post do %>
  <div class="form-group">
  	<%= hidden_field_tag "event[user_id]", current_user.id%>
  	<%= hidden_field_tag "event[sender_id]", current_user.id%>
  	<%= hidden_field_tag "event[receiver_id]", @event.sender.id%>
    <%= text_area_tag 'event[message]', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
  </div>
  <%= submit_tag "Send Reply", class: 'btn btn-primary' %>
  <%= link_to 'Back', events_path, class: 'btn btn-primary' %>
<% end %>