<!DOCTYPE html>
<html>
  <head>
    <title>AuthSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
  	<% flash.each do |name, msg| %>
  		<%= content_tag(:div, msg, class: "alert alert-info") %>
  	<% end %>
    <div class="container">
        <%= yield %>
    </div>
    <style type="text/css">
      .read, .unread {
        @include float-left;
        width: 460px;
        padding: 0 5px;
      }
      .unread {
        font-weight: bold;
      }
    </style>
    <script type="text/javascript">
      $(document).ready(function(){
        $("tr[data-link]").click(function() {
          debugger
          window.location = $(this).attr('data-link');
        });
      });
    </script>
  </body>
</html>
